<div class="firebee-thumb-icons">
    {% if section.settings.thumb_icon_1 %}{{  section.settings.thumb_icon_1 | image_url: width: 112 | image_tag }}{% endif %}
    {% if section.settings.thumb_icon_2 %}{{  section.settings.thumb_icon_2 | image_url: width: 112 | image_tag}}{% endif %}
  </div>